<div class="row" id="innertab">
  <div class="col-md-12 " id="layout">
    <%= form_for(:sakusei, url: shiyosho_sakusei_path) do |f| %>
    <%= f.label :filename, "仕様書ファイル" %>
    <%= f.file_field :filename, class: 'form-control' %>
    <h4>【詳細設定】</h4>
    <div class="row">
      <div class="col-md-2">
        <p>仕様書内容</p>
      </div>
      <div class="col-md-2">
        <%= f.text_field :detail, class: 'form-control' %>
      </div>
      <p>列</p>
    </div>
    <div class="row">
      <div class="col-md-2">
        <p>回答</p>
      </div>
      <div class="col-md-2">
        <%= f.text_field :answer, class: 'form-control' %>
      </div>
      <p>列</p>
    </div>
    <div class="row">
      <div class="col-md-2">
        <p>備考</p>
      </div>
      <div class="col-md-2">
        <%= f.text_field :remark, class: 'form-control' %>
      </div>
      <p>列</p>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-2">
        <%= f.submit "作成", class: "btn btn-primary" %>
      </div>
    <% end %>
      <div class="col-md-2">
        <a href="<%=shiyosho_path%>" class="btn btn-primary" role="button" >閉じる</a>
      </div>
    </div>
  </div>
</div>