<div class="row" id="innertab">
  <div class="col-md-12 " id="layout">
    <%= form_for(:sakusei, url: shiyosho_torikomi_path) do |f| %>
  
    <%= f.label :filename, "仕様書ファイル" %>
    <%= f.file_field :filename, class: 'form-control' %>
    <div class="row">
      <div class="col-md-3">
        <p>ワークシート番号</p>
      </div>
      <div class="col-md-2">
        <%= f.text_field :worksheetfrom, class: 'form-control' %>
      </div>
      <div class="col-md-1 center">
        <p>-</p>
      </div>
      <div class="col-md-2">
        <%= f.text_field :worksheetto, class: 'form-control' %>
      </div>
    </div>

    <h4>【詳細設定】</h4>
    
    <%= f.label :vendor, "仕様元ベンダー" %>
    <%= f.select :vendor, Company.where("flag=0 AND company_type_id=2").collect { |p| [p.name, p.id] }, class: 'form-control' %>
    
    <%= f.label :hospital, "仕様元病院" %>
    <%= f.select :hospital, Company.where("flag=0 AND company_type_id=1").collect { |p| [p.name, p.id] }, class: 'form-control' %>
    
    <% if @yokyu_parent.count>0 %>

      <div class="row">
        <div class="col-md-3">
          <p><strong><%= @yokyu_parent.first.name %></strong></p>
        </div>
        <div class="col-md-2">
          <%= f.text_field :parent, class: 'form-control', value: @yokyu_parent.first.default_col %>
        </div>
        <div class="col-md-1">
          <p>列</p>
        </div>
        <div class="col-md-2">
          <%= f.label :first_row, "最初行" %>
        </div>
        <div class="col-md-2">
          <%= f.text_field :first_row, class: 'form-control' %>
        </div>
        <div class="col-md-1">
          <p>行</p>
        </div>
      </div>
      
      <% yokyu_children = @yokyu_parent.first.yokyu_children %>
      <% yokyu_children.each do |yokyu_child| %>
        <% if yokyu_child.flag==0 %>
          <div class="row">
            <div class="col-md-3">
              <p><%= yokyu_child.name %></p>    
            </div>
            <div class="col-md-2">
              <%= f.text_field :child, class: 'form-control', value: yokyu_child.default_col, multiple: true %>
              <%= f.hidden_field :child_id, value: yokyu_child.id, multiple: true %>
            </div>
            <div class="col-md-1">
              <p>列</p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <div class="row">
      <div class="col-md-2 col-md-offset-8">
        <%= f.submit "取込", class: "btn btn-primary" %>
      </div>
    <% end %>
      <div class="col-md-2">
         <%= button_to '閉じる', shiyosho_path(:id => current_user), {class: "btn btn-danger"} %>
      </div>
    </div>
  </div>
</div>