<div class="row" id="innertab">
  <div class="col-md-12 " id="layout">
    <%= form_for(:torikomi, url: shiyosho_torikomi_path) do |f| %>
  
    <%= f.label :name, "仕様書ファイル" %>
    <%= f.file_field :name, class: 'form-control' %>

    <h4>【詳細設定】</h4>
    <%= f.label :vendor, "仕様元ベンダー" %>
    <%= f.text_field :vendor, class: 'form-control' %>
  
    <%= f.label :hospital, "仕様元病院" %>
    <%= f.text_field :hospital, class: 'form-control' %>
  
    <div class="row">
      <div class="col-md-2">
        <p>仕様書内容</p>
      </div>
      <div class="col-md-2">
        <%= f.text_field :detail, class: 'form-control' %>
      </div>
      <p>列</p>
    </div>
    <div class="row">
      <div class="col-md-2">
        <p>回答</p>
      </div>
      <div class="col-md-2">
        <%= f.text_field :answer, class: 'form-control' %>
      </div>
      <p>列</p>
    </div>
    <div class="row">
      <div class="col-md-2">
        <p>備考</p>
      </div>
      <div class="col-md-2">
        <%= f.text_field :remark, class: 'form-control' %>
      </div>
      <p>列</p>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-2">
        <%= f.submit "取込", class: "btn btn-primary" %>
      </div>
    <% end %>
      <div class="col-md-2">
        <a href="<%=shiyosho_path%>" class="btn btn-primary" role="button" >閉じる</a>
      </div>
    </div>
  </div>
</div>