<ul class="nav flex-column">
  <li><%= link_to "要求仕様書", shiyosho_path(:id => current_user) %></li>
  <li><%= link_to "ベンダー管理", "#" %></li>
  <li><%= link_to "病院管理", "#" %></li>
  <li><%= link_to "列管理", yokyu_parents_path(:id => current_user) %></li>
  <li><%= link_to "伝票管理", "#" %></li>
  <li><%= link_to "ごみ箱", "#" %></li>
</ul>
