<% if yokyu_parent.default_set==1 %>
  
  <li class="list-group-item list-group-item-success">
<% else %>
  <li class="list-group-item">
<% end %>

  <div class="row">
    <div class="col-md-3">
        <%= link_to yokyu_parent.name, yokyu_parent %> 
    </div>
    <div class="col-md-2 center">
        列：<%= yokyu_parent.default_col %> | 
        <%= link_to '編集', edit_yokyu_parent_path(yokyu_parent) %>
    </div>
          
    <div class="col-md-1">
      <span class="badge badge-primary badge-pill"><%= yokyu_parent.yokyu_children.count %></span>
    </div>
    <div class="col-md-2">
        <%= button_to '設定', yokyu_parents_default_path(:id => yokyu_parent.id) , {class: "btn btn-primary btn-sm"} %>
    </div>
    <div class="col-md-2">
        <%= button_to '項目追加', new_yokyu_child_path(:id => yokyu_parent.id, :user_id => current_user) , {class: "btn btn-primary btn-sm"} %>
    </div>
    <div class="col-md-2 center">
        <%= link_to "削除", yokyu_parent, method: :delete, data: { confirm: "本気ですか?" }%>
    </div>
  </div>
</li>