<ul class="nav flex-column">
  <li><%= link_to "ベンダー管理", companies_path(:id => current_user, :client => false) %></li>
  <li><%= link_to "病院管理", companies_path(:id => current_user, :client => true) %></li>
  <li><%= link_to "列管理", yokyu_parents_path(:id => current_user) %></li>
  <li><%= link_to "伝票管理", "#" %></li>
  <li><%= link_to "ごみ箱", "#" %></li>
  <% if @client==true %>
    <li><%= link_to "新規病院", new_company_path(:client => @client ) %></li>
  <% else %>
    <li><%= link_to "新規ベンダー", new_company_path(:client => @client ) %></li>
  <% end %>
</ul>
