<header class="navbar navbar-fixed-top" style="background-color: #ccccff;">
   <div class="container">
      <%= link_to image_tag("logo-sbs.png", alt:"sbs logo", size: "200x50", id: "sbs_logo"),root_path %>
      <%= link_to "PK-Tools on Watson","http://www.sbs-infosys.co.jp/", id: "logo" %>
      <nav>
         <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "ホーム", root_path %></li>
            <li><%= link_to "要求仕様作成", "#" %></li>
            <li><%= link_to "ログイン", "#" %></li>
          </ul>
      </nav>
   </div>
</header>